/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
// @font-face{
//     font-family: 'Hind Siliguri', sans-serif;
//     src: url('assets/fonts/Hind_Siliguri/HindSiliguri-Bold.ttf')
// }

.custom_card{
    min-height: 180px;
    border-radius: 12px;
    box-shadow: 0 0px 4px 0px #ea2467;
}

.divider1{
    background: #eb236726;
    height: 133px;
    border-radius: 155px;
    position: fixed;
    bottom: -37px;
    width: 133px;
    left: -37px;
    z-index: -1;
}
.divider2{
    background: linear-gradient(45deg, #eb236726, #fe7aa736);
    height: 133px;
    border-radius: 40px;
    position: fixed;
    top: 0px;
    width: 133px;
    right: -38px;
    z-index: -1;
}
.divider3{
    background: linear-gradient(
        45deg
        , #eb236726, #fe7aa736);
            height: 133px;
            border-radius: 40px;
            position: fixed;
            width: 133px;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
}
.divider4{
    background: linear-gradient(
        45deg
        , #eb236726, #fe7aa736);
            height: 133px;
            border-radius: 100px;
            position: fixed;
            bottom: 63px;
            width: 133px;
            right: -38px;
            z-index: -1;
}
